obj/
out/
bin/

# ignore cmake
CMakeCache.txt
*.cmake
CMakeFiles/
_deps/

.vscode/
Makefile
./Makefile
/Makefile
Testing/
/Testing
/lib
/.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
/build